.balance-txt {
    font-size: 14px;
    font-weight: bold;
}

.low-balance {
    color: red; /* Для баланса ниже 500 рублей */
}

.high-balance {
    color: green; /* Для баланса 500 рублей и выше */
}

.error {
    color: tomato;
    font-weight: bold;
}

.balance-information p {
    margin: 0;
    padding: 5px 0;
}

@media(max-width:568px) {
    .balance-txt {
        font-size: 10px;
        font-weight: normal;
    }
}