.cart {
	margin-top: 100px;
}

.cart-h2 {
	font-family: "Lazurski";
	font-weight: bold;
	font-size: 24px;
}

.cart-title {
	margin-bottom: 20px;
}

.cart-items-title {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
	align-items: center;
	background-color: #ffffff;
	color: #ffffff;
	font-size: max(1vw, 12px);
}

.cart-item-wrapper {
	background-color: black;
	border-right: 1px white solid;
	padding: 10px 21px;
	text-align: center;
}

.cart-item-wrapper:first-child {
	border-top-left-radius: 10px;
	/* скругление слева */
}

.cart-item-wrapper:last-child {
	border-top-right-radius: 10px;
	/* скругление справа */
	border-right: none;
	/* убираем лишнюю границу справа */
}

.cart-items-name {
	font-family: "Opensans";
	font-size: 16px;
}

.cart-items-item {
	margin: 10px 0px;
	color: black;
	text-align: center;
	border-bottom: 0.5px black solid;
}

.cart-items-txt {
	font-family: "Opensans";
	font-size: 14px;
}

.cart-items-trash {
	width: 30px !important;
	height: 25px;
}

.cart-items-item img {
	width: 50px;
	cursor: pointer;
}

.cart-items__bottom{
	width: 100%;
	height: 45px;
	background-color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.cart-items-item p {
	max-width: 200px;
	/* или любое другое значение */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cart hr {
	height: 1px;
	background-color: #e2e2e2;
	border: none;
}

.cart-items-item .cross {
	cursor: pointer;
}

.cart-bottom {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: max(12vw, 20px);
}

.cart-total {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cart-total-h2{
	font-family: "Lazurski";
	font-size: 24px;
	font-weight: bold;
}

.shop-info-divider2{
	margin: 0;
	padding: 0;
}

.cart-total-inf{
	font-family: "Lazurski";
	font-size: 20px;
	color: black;
}

.cart-total-details {
	display: flex;
	justify-content: space-between;
	color: #555;
}

.cart-total hr {
	margin: 10px 0px;
}

.cart-total button {
	border: none;
	color: white;
	background-color: black;
	width: max(15vw, 173px);
	padding: 12px 0px;
	border-radius: 10px;
	cursor: pointer;
}

.cart-promocode {
	flex: 1;
}

.cart-promocode-input {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eaeaea;
	border-radius: 4px;
}

.cart-promocode-input input {
	background: transparent;
	border: none;
	outline: none;
	padding-left: 10px;
}

.cart-promocode-input button {
	width: max(10vw, 150px);
	padding: 12px 5px;
	background-color: black;
	border: none;
	color: white;
	border-radius: 4px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal-content {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	padding: 20px;
	border-radius: 8px;
}

.modal-content img {
	max-width: 100%;
	max-height: 100%;
}

.modal-content .close {
	position: absolute;
	top: 0px;
	right: -40px;
	font-size: 30px;
	color: white;
	cursor: pointer;
	z-index: 1001;
}

@media (max-width: 750px) {
	.cart-bottom {
		flex-direction: column-reverse;
	}

	.cart-promocode {
		justify-content: start;
	}

	.cart-items-title {
		grid-template-columns: 2fr 2fr 2fr 2fr;
		/* Оставляем только две колонки */
	}

	/* Скрываем колонки "Наименование", "Количество", "Удалить" */
	.cart-items-title p:nth-child(3),
	.cart-items-title p:nth-child(4) {
		display: none;
	}

	.cart-total-h2 {
		font-size: 20px;
	}

	.cart-total-inf {
		font-size: 12px;
	}
}