.my-orders{
    margin: 20px 0px;
}

.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1fr 1.5fr 1fr 1.5fr 1.5fr 1fr;
    align-items: center;
    gap:30px;
    font-size: 12px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid tomato;
}

.my-orders-order img{
    width: 50px;
}

.my-orders-order .product-name {
    max-width: 150px; /* Ограничиваем ширину */
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем текст, выходящий за пределы */
    text-overflow: ellipsis; /* Отображаем троеточие */
}

.my-orders-order p span{
    color: tomato;
}

.my-orders-order p b{
    font-weight: 500;
    color: #454545;
}

.my-orders-order button{
    border: none;
    padding: 6px 0px;
    border-radius: 4px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: #454545;
    font-size: 10px;
}

.status-processing {
    color: #ff4d4d !important; /* Красный */
}
  
.status-delivery {
    color: #ffcc00 !important; /* Желтый */
}
  
.status-complete {
    color: #28a745 !important; /* Зеленый */
}

@media(max-width:1200px) {
    .my-orders-order button{
        border: none;
        padding: 5px 0px;
        border-radius: 4px;
        font-size: 10px;
    }

    .my-orders-order{
        gap:15px;
        font-size: 12px;
        padding: 5px 10px;
    }

    .my-orders .container{
        margin-top: 10px;
    }
}

@media(max-width:992px) {
    .my-orders-order{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .my-orders-order img:nth-child(1),
    .my-orders-order p:nth-child(2),
    .my-orders-order p:nth-child(5) {
        display: none;
    }

    .my-orders-order{
        font-size: 10px;
    }
}

@media(max-width:576px) {
    .my-orders-h2{
        font-size: 15px;
    }

    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    }

    .my-orders-order p:nth-child(3),
    .my-orders-order p:nth-child(7) {
        display: none;
    }

    .my-orders-order{
        gap:10px;
        font-size: 10px;
        padding: 3px 10px;
    }

    .my-orders-order button{
        font-size: 8px;
    }
}