.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 40px 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    /* Ширина модального окна */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verification-header {
    text-align: center;
    margin-bottom: 10px;
}

.verification-description {
    margin-bottom: 10px;
}

.otp-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 8px;
}

.otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 24px;
    background-color: white;
    outline: none;
}

.otp-input:focus {
    border-color: black;
    background-color: #f9fafb;
}

.verify-btn {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}

.verify-btn:hover {
    background-color: black;
}

.resend-btn {
    background-color: blue;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 16px;
    transition: background-color 0.3s ease;
}

.resend-btn:disabled {
    background-color: #b0c4de;
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.6;
}

.close-btn {
    background-color: transparent;
    color: #2563eb;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
}

.close-btn:hover {
    color: #1d4ed8;
}