.shop-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.shop-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-name {
    font-family: "Lazurski";
    font-weight: bold;
    font-size: 24px;
}

.shop-rating {
    font-family: "Garamond";
    font-size: 20px;
    font-weight: bold;
}

.star-logo-img {
    margin-right: 10px;
    width: 20px;
    height: 15px;
}

.shop-info-divider {
    margin-bottom: 20px;
}

.shop-display {
    padding-top: 0px;
}

.shop-display-top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    min-height: 184px;
    padding-left: 20px;
}

.shop-display-logo {
    display: flex;
}

.shop-logo {
    width: 144px;
    height: 144px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.shop-center-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop-work__information {
    margin-bottom:  20px;
}

.time-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #666666;
}

.work-time-desc {
    font-family: "Lazurski";
    font-weight: bold;
    font-size: 20px;
}

.shop-information__desc{
    font-size: 16px;
}

.shop-left__information {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.shop-icon__address {
    display: flex;
    align-items: flex-end;
}

.shop-address__information {
    margin-bottom: 62px;
}

.shop-icon__time {
    display: flex;
    align-items: center;
}

.item-h3 {
    font-family: "Lazurski";
    font-size: 24px;
    font-weight: bold;
}

.shop-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;
}

.flower-display-shop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.shop-info {
    display: flex;
    flex-wrap: wrap;
}

.shop-name {
    font-size: max(1.5vw, 20px);
    margin-right: 10px;
}

.shop-rating {
    font-size: max(1.2vw, 18px);
}

.star-logo-img {
    margin-right: 10px;
}

.flower-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    text-align: center;
}

.rating-window {
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.raiting-container{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.raiting-container__left{
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.description{
    font-family: "Lazurski";
    font-size: 20px;
    font-weight: bold;
}

.user-comment__date{
    font-family: "Lazurski";
    font-size: 16px;
}

.comment-container{
    display: flex;
    flex-direction: column;
}

.comment-block{
    margin-bottom: 15px;
}

.user-comment{
    font-family: "OpenSans";
    font-size: 16px;
    font-weight: normal;
}

.raiting-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.raiting-number{
    font-family: "Lazurski";
    font-size: 20px;
    font-weight: bold;
}

.raiting-star{
    width: 20px;
    height: 16px
}

.raiting-container__right {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*
.flex{
    display: flex;
}
.rating-user-comment{
    padding-right: 2vw;
    margin-left: 1vw;
}

.shop-address {
    font-size: max(1.6vw, 16px);
}

.rating-window {
    width: 100%;
    max-width: 800px;
    margin-top: 2vh;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.rating-information {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rating-item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 4fr));
    gap: 4vw;
    margin-top: 1vh;
}

.rating-h3 {
    margin-bottom: 20px;
}

.rating-item-shop-grid, .rating-content {
    display: grid;
    grid-template-columns: 4fr 4fr;
    font-weight: bold;
}

.rating {
    margin: 10px 0;
}
.rating-user-comment-shop{
    margin-top: 0.3vh;
}
.rating-user-comment-shop, .rating-user-comment-date-shop {
    font-size: max(1.2vw, 14px);
    margin-left: 1vh;
}

.rating-shop-answer, .rating-shop-answer-content {
    font-size: max(1vw, 16px);
    color: #555;
}

.star-logo-img, .rating-star-shop {
    width: 20px;
    height: 20px;
}

.shop-item-button, .rating-button-shop {
    width: max(150px, 25%);
    font-size: max(1.5vh, 14px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    background: tomato;
    color: white;
    border: none;
    transition: background 0.3s;
}

.shop-item-button:hover, .rating-button-shop:hover {
    background: darkred;
}
.rating-star-number{
    font-size: max(1.2vw, 16px);
}
.rating-star{
    margin-right: 0.5vw;
  height: clamp(12px, 1.5vw, 24px);
}

.shop-logo {
    width: clamp(95px, 12vw, 150px);
    cursor: pointer;
    /*margin-left: 15vw;*/
    /*border-radius: 50%;
    transition: transform 0.2s;
}

.shop-logo:hover {
    transform: scale(1.05);
}

.shop-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.shop-name {
    font-size: clamp(18px, 2.5vw, 30px);
    margin: 0;
    font-weight: bold;
}

.shop-raiting {
    font-size: clamp(14px, 2vw, 20px);
    display: flex;
    align-items: center;
}

.star-logo-img {
    width: 1rem;
    height: auto;
    margin-right: 0.5rem;
}

.shop-work,
.shop-address {
    font-size: clamp(14px, 2vw, 18px);
}

@media(max-width: 1200px) {
    .flower-display-top {
        gap: 20px;
    }
     
    .shop-information{
        font-size: 15px;
    }
}

@media(max-width: 992px) {
    .flower-display-top {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .shop-logo {
        margin-left: 10px;
    }

    .flower-display-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    .shop-name, .shop-rating {
        font-size: 18px;
    }

    .rating-shop-answer, .rating-shop-answer-content, .shop-rating-user-name {
        font-size: 14px;
    }

    .shop-item-button, .rating-button-shop {
        width: 30vw;
        font-size: 2vh;
    }
}

@media(max-width: 576px) {
    .shop-name, .shop-rating {
        font-size: 16px;
    }

    .rating-shop-answer, .rating-shop-answer-content {
        font-size: 12px;
    }

    .shop-item-button, .rating-button-shop {
        width: 40vw;
        font-size: 1.5vh;
        padding: 8px;
    }
    .shop-logo {
        width: clamp(120px, 12vw, 150px);
        cursor: pointer;
        border-radius: 50%;
        /*margin-left: 25vw;*/
        /*transition: transform 0.2s;
    }
}
